@mixin dashed-back {
  border: 2px dashed $c-border;
  background-color: $c-dashed-back;
}

@mixin link-hover {
  &:hover {
    color: $c-link-hover;
  }
}

@mixin flex($flex, $align, $justify) {
  display: $flex;
  align-items: $align;
  justify-content: $justify;
}

@mixin icon-shadow {
  content: "";
  position: absolute;
  width: 1px;
  height: 1px;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 20px 20px #b10365;

  @include for-size(tablet-portrait-up) {
    box-shadow: 0 0 20px 28px #b10365;
  }
}

@mixin bubble($width-m, $height-m, $width-d, $height-d) {
  position: absolute;
  font-family: "Verveine", sans-serif;
  font-size: rem(20);
  line-height: rem(24);
  color: #0A0A0A;
  width: $width-m +px;
  height: $height-m +px;
  text-align: center;
  padding-left: 25px;
  padding-right: 25px;
  background-size: contain;
  background-repeat: no-repeat;
  text-transform: uppercase;
  @include flex(flex, center, center);

  @include for-size(tablet-portrait-up) {
    font-size: rem(24);
    line-height: rem(24);
    width: $width-d +px;
    height: $height-d +px;
  }
}