$container-max-width: 1440px;

$c-primary-text: #20161C;
$c-secondary-text: #31282D;
$c-white-text: #fff;
$c-pink-text: #E2017F;

$c-nav-link: #F7E9D9;
$c-footer-link: #0A0A0A;
$c-contact-link: #fff;
$c-link-hover: #E2017F;

$c-border: #E2017F;

$c-dashed-back: rgba(255, 255, 255, 0.7);

$c-tab: #EC008C;
$c-tab-border: #F3E5CF;
$c-tab-active: rgba(255, 255, 255, 0.7);
$c-tab-border-active: #EC008C;

$animate-duration-effect: 500ms;

$fz-d: 18;
$fz-m: 16;

$mg: 4px;
$pd: 5px;

$br: 8px;