.about {
  padding-top: 65px;
  padding-bottom: 80px;
  margin-bottom: 172px;

  @include for-size(tablet-portrait-up) {
    padding-top:80px;
    padding-bottom: 65px;
    margin-bottom: 100px;
  }

  &:before, &:after {
    content: "";
    left: 0;
    right: 0;
    height: 50%;
    position: absolute;
  }

  &:before {
    bottom: 100%;
    background: linear-gradient(180deg, rgba(213, 165, 107, 0) 0%, rgba(213, 165, 107, 0) 70%, rgba(41, 29, 14, 0.3) 100%);
  }

  &:after {
    top: 100%;
    background: linear-gradient(180deg, rgba(41, 29, 14, 0.3) 0%, rgba(213, 165, 107, 0) 70%, rgba(213, 165, 107, 0) 100%);
  }

  &__inner {
    height: 100%;
  }

  &__info {
    position: relative;

    @include for-size(tablet-portrait-up) {
      width: 40%;
    }
  }

  &__advantages {
    @include flex(flex, null, null);
    padding-left: 165px;
    margin-top: 40px;

    @include for-size(tablet-portrait-up) {
      width: 60%;
      position: absolute;
      right: 0;
      bottom: -300px;
      z-index: 1;
      padding-left: 0;
      margin-top: 0;
    }
  }

  &__package {
    width: 260px;
    position: absolute;
    left: -65px;

    @include for-size(tablet-portrait-up) {
      position: relative;
      width: auto;
      left: auto;
    }
  }

  &__cat-bubble {
    position: absolute;
    bottom: -106px;
    right: 0;
    width: 225px;

    @include for-size(tablet-portrait-up) {
      bottom: -140px;
      right: 55%;
      width: 280px;
    }
  }

  &__bubble {
    @include bubble(225, 125, 254, 147);
    right: 45%;
    top: 90%;
    background-image: url("data:image/svg+xml,%3Csvg width='255' height='145' viewBox='0 0 255 145' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M252.879 81.2069C254.96 90.1592 252.926 99.3166 247.114 107.149C244.158 110.932 240.315 114.269 235.767 117C231.145 119.636 226.063 121.784 220.657 123.386C215.246 125.035 209.673 126.378 203.983 127.404C198.297 128.476 192.489 129.331 186.642 130.053C180.795 130.775 174.902 131.561 168.967 132.329C163.031 133.097 157.269 133.888 151.51 134.564C139.906 135.97 128.182 136.826 116.406 137.125C104.702 137.425 92.9633 136.745 81.4037 135.098C69.8034 133.382 58.568 130.382 48.0627 126.197C37.4958 122.025 28.1021 116.309 20.4389 109.388C12.8812 102.421 7.84249 94.1127 5.82876 85.2963L5.10185 81.9908L4.8955 78.7041C4.93537 77.6071 4.78002 76.5029 4.75423 75.4199C4.72843 74.3368 4.83396 73.2257 5.06845 72.1522C5.75416 67.7965 7.16411 63.5347 9.2651 59.4669C11.42 55.3509 13.9305 51.351 16.7806 47.4924C19.4592 43.6158 22.4975 39.8912 25.8733 36.3459C27.5296 34.6466 29.3294 33.0308 31.2617 31.5082C33.097 30.0946 35.1709 28.8694 37.432 27.8631C42.2816 25.8598 47.4977 24.3932 52.9239 23.5073C75.8016 19.4212 99.3467 17.6093 122.968 18.1173C134.743 18.3729 146.5 19.178 158.174 20.5279C164.013 21.2156 169.825 22.0499 175.613 22.9488C181.401 23.8478 187.071 25.0048 192.874 26.101L193.264 26.1152C194.565 26.3377 195.919 26.2007 197.079 25.7292L208.103 21.2111L218.697 16.5462C225.996 13.5323 233.174 10.2353 240.37 7.07011L233.989 3.36233L225.403 40.5965L225.398 40.7438C225.315 40.9501 225.307 41.1706 225.375 41.3824C226.116 42.9509 226.575 44.5835 226.74 46.2359L226.736 46.3506C226.768 46.6225 226.928 46.8787 227.188 47.072C230.227 49.4942 233.156 51.9617 235.929 54.5546C238.656 57.161 241.175 59.8861 243.473 62.7151C248.142 68.3889 251.335 74.6676 252.879 81.2069ZM253.947 81.0981C253.27 77.7709 252.159 74.4957 250.632 71.3206C249.059 68.1572 247.197 65.0763 245.059 62.1005C242.914 59.1277 240.53 56.254 237.922 53.4957C235.374 50.7142 232.648 48.0246 229.811 45.3966L230.259 46.2327C230.258 44.329 229.941 42.4281 229.313 40.5746L229.285 41.3442L242.445 4.94849C242.725 4.12679 242.569 3.24823 242.008 2.49927C241.447 1.75032 240.526 1.18998 239.441 0.937186C238.409 0.707452 237.308 0.772544 236.351 1.11998L236.042 1.23993C228.556 4.05027 221.028 6.79351 213.604 9.68806L202.457 13.9886L191.438 18.392L195.641 18.0857C171.937 12.6708 147.405 9.80864 122.779 9.58462C98.2064 9.42192 73.7886 11.789 50.1987 16.6205C43.9702 17.7992 38.0402 19.7019 32.6185 22.2612C29.8195 23.6506 27.2832 25.317 25.0757 27.2173C22.9313 29.0125 20.9739 30.9309 19.2202 32.9561C15.9749 36.8836 13.1112 40.9876 10.651 45.2366C8.043 49.4153 5.76912 53.7126 3.84138 58.1057C1.948 62.5396 0.802831 67.1469 0.432666 71.8197C0.389823 72.9987 0.34698 74.1776 0.304733 75.3402C0.262485 76.5027 0.588972 77.6787 0.676866 78.846L1.11169 82.4196L2.09889 85.7346C2.42657 86.8779 2.6452 88.0335 3.06023 89.1635L4.50293 92.4951C5.41356 94.7337 6.56937 96.9146 7.95822 99.0149L8.91816 100.689L10.0793 102.207L12.4455 105.228C14.0671 107.222 16.0423 109.048 17.8187 110.965C25.7073 118.214 35.2043 124.376 45.8698 129.167C56.5137 134.026 67.972 137.753 79.9136 140.242C104.011 145.315 129.312 144.758 153.224 141.791C159.202 141.057 165.186 140.127 171.042 139.159C176.898 138.192 182.734 137.19 188.528 136.106C200.458 134.034 211.995 130.903 222.901 126.78C228.388 124.671 233.472 122.022 238.021 118.902C242.504 115.723 246.218 111.976 249.001 107.824C251.761 103.736 253.547 99.3012 254.277 94.7186C255.013 90.2024 254.902 85.6173 253.947 81.0981Z' fill='white'/%3E%3C/svg%3E%0A");
    z-index: 1;


    @include for-size(tablet-portrait-up) {
      right: 45%;
      top: 87%;
    }
  }
}