.cooperation {
  @include for-size(tablet-portrait-up) {
    margin-bottom: 200px;
  }

  &__inner {
    @include for-size(tablet-portrait-up) {
      @include flex(flex, null, null);
    }
  }

  &__info {
    position: relative;
    @include for-size(tablet-portrait-up) {
      width: 42%;
      padding-right: 32px;
    }
  }

  &__tabs {
    position: relative;
    margin-top: 48px;

    @include for-size(tablet-portrait-up) {
      width: 58%;
      margin-top: 0;
    }
  }

  &__img {
    position: absolute;
    left: 0;
    right: -21px;
    z-index: 1;
    padding-top: 100px;
    display: none;

    @include for-size(tablet-portrait-up) {
      display: block;
    }
  }

  &__bubble {
    @include bubble(210, 128, 240, 147);
    background-image: url("data:image/svg+xml,%3Csvg width='234' height='148' viewBox='0 0 234 148' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M231.891 68.1441C234.095 59.2804 232.537 50.0624 227.477 42.0311C224.896 38.1459 221.488 34.6745 217.415 31.7824C213.272 28.9824 208.691 26.6532 203.795 24.8572C198.895 23.014 193.838 21.4709 188.663 20.2404C183.493 18.9634 178.204 17.8992 172.875 16.966C167.546 16.0328 162.177 15.0342 156.768 14.0519C151.36 13.0696 146.11 12.0709 140.861 11.1868C130.284 9.36124 119.578 8.08176 108.807 7.35582C98.1021 6.6314 87.3323 6.88397 76.6943 8.10892C66.0169 9.40224 55.6308 11.9897 45.8737 15.7873C36.0606 19.5698 27.2702 24.9368 20.0241 31.5696C12.8731 38.2516 7.98359 46.3654 5.84665 55.0958L5.07116 58.3701L4.7729 61.6445C4.77289 62.7414 4.59394 63.8383 4.53428 64.9188C4.47463 65.9994 4.53428 67.1126 4.71324 68.1932C5.19612 72.5674 6.34516 76.8741 8.13334 81.0122C9.96925 85.2004 12.1346 89.2856 14.6156 93.2419C16.9389 97.2101 19.5967 101.039 22.5693 104.702C24.0292 106.459 25.6231 108.138 27.3416 109.728C28.9748 111.206 30.8327 112.505 32.8694 113.592C37.2427 115.768 41.9693 117.422 46.9077 118.504C67.7169 123.414 89.2127 126.077 110.856 126.427C121.644 126.599 132.435 126.222 143.167 125.298C148.536 124.823 153.885 124.201 159.214 123.513C164.543 122.826 169.773 121.876 175.121 120.992L175.479 120.992C176.678 120.817 177.913 121.003 178.959 121.516L188.901 126.427L198.446 131.47C205.027 134.744 211.49 138.297 217.972 141.719L212.007 145.189L205.385 107.698L205.385 107.551C205.316 107.342 205.316 107.121 205.385 106.912C206.116 105.373 206.591 103.759 206.797 102.115L206.797 102.001C206.835 101.73 206.991 101.48 207.235 101.297C210.098 98.9884 212.862 96.6309 215.487 94.1424C218.07 91.6387 220.467 89.009 222.665 86.2676C227.128 80.7715 230.261 74.6178 231.891 68.1441ZM232.865 68.2914C232.135 71.5892 231.009 74.8193 229.505 77.9344C227.96 81.0361 226.152 84.0449 224.096 86.9388C222.033 89.8294 219.756 92.6124 217.276 95.272C214.85 97.957 212.265 100.544 209.581 103.065L210.018 102.246C209.955 104.147 209.601 106.034 208.965 107.862L208.965 107.092L219.801 143.912C220.031 144.743 219.858 145.615 219.32 146.342C218.782 147.07 217.92 147.596 216.918 147.809C215.965 148.001 214.96 147.896 214.095 147.514L213.816 147.383C207.056 144.305 200.255 141.293 193.554 138.133L183.493 133.435L173.551 128.638L177.388 129.096C155.506 133.643 132.952 135.611 110.398 134.941C87.8963 134.212 65.6199 130.962 44.1835 125.281C38.5204 123.878 33.1546 121.763 28.2761 119.011C25.7597 117.522 23.4932 115.766 21.5353 113.788C19.6319 111.918 17.9036 109.931 16.3654 107.846C13.525 103.806 11.0397 99.604 8.92871 95.272C6.68005 91.0047 4.74123 86.6312 3.1225 82.1746C1.53658 77.6785 0.641433 73.0364 0.458006 68.3569C0.458006 67.1781 0.458006 65.9994 0.458006 64.837C0.458007 63.6746 0.796039 62.5122 0.915345 61.3498L1.43234 57.7971L2.44643 54.5228C2.78447 53.3931 3.02308 52.2471 3.44065 51.1338L4.87232 47.8595C5.7805 45.6571 6.91124 43.5214 8.25264 41.4745L9.1872 39.8373L10.3007 38.3639L12.5675 35.4333C14.1185 33.5015 15.9876 31.7497 17.6778 29.8997C25.1412 22.9476 34.0409 17.1387 43.9648 12.7421C53.8712 8.27663 64.4856 4.97044 75.5013 2.91908C97.7319 -1.27208 120.877 0.201376 142.67 4.03236C148.119 4.98192 153.567 6.12794 158.896 7.30671C164.225 8.48547 169.534 9.69698 174.803 10.9903C185.657 13.4922 196.115 17.0365 205.962 21.5501C210.916 23.8552 215.481 26.6843 219.543 29.9652C223.541 33.3023 226.817 37.1784 229.227 41.4254C231.617 45.6073 233.105 50.1004 233.621 54.7029C234.145 59.2391 233.89 63.8135 232.865 68.2914Z' fill='white'/%3E%3C/svg%3E%0A");
    right: 37%;
    top: 2%;
    transform: rotate(-15.32deg);
    display: none;
    padding-bottom: 10px;

    @include for-size(tablet-portrait-up) {
      display: flex;
    }
  }

  &__img-mobile {
    margin-left: -15px;
    margin-right: -15px;
    width: calc(100% + 30px);
    padding-top: 120px;
    text-align: right;
    position: relative;
    padding-left: 20%;

    @include for-size(tablet-portrait-up) {
      display: none;
    }
  }

  &__bubble-mobile {
    @include bubble(210, 128, 240, 147);
    background-image: url("data:image/svg+xml,%3Csvg width='205' height='130' viewBox='0 0 205 130' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M202.857 59.452C204.78 51.7192 203.421 43.6775 199.006 36.6709C196.755 33.2814 193.782 30.2529 190.229 27.7299C186.614 25.2872 182.617 23.2551 178.346 21.6883C174.072 20.0803 169.659 18.7341 165.145 17.6605C160.634 16.5465 156.02 15.6181 151.371 14.804C146.722 13.9899 142.038 13.1186 137.32 12.2617C132.602 11.4047 128.022 10.5334 123.442 9.76217C114.215 8.16954 104.875 7.05331 95.4786 6.42C86.1392 5.78802 76.7436 6.00836 67.463 7.07701C58.148 8.20531 49.0871 10.4626 40.575 13.7756C32.014 17.0756 24.3452 21.7577 18.0237 27.5442C11.7851 33.3737 7.51945 40.4521 5.65517 48.0686L4.97864 50.9251L4.71843 53.7817C4.71843 54.7386 4.5623 55.6956 4.51026 56.6382C4.45822 57.5809 4.51026 58.5521 4.66639 59.4948C5.08765 63.3108 6.09008 67.0681 7.65009 70.6782C9.25175 74.3319 11.1408 77.8959 13.3053 81.3474C15.3322 84.8092 17.6508 88.1501 20.2441 91.3454C21.5177 92.8781 22.9083 94.3426 24.4074 95.7302C25.8323 97.0197 27.4532 98.1527 29.2299 99.1009C33.0452 101 37.1688 102.442 41.477 103.386C59.6311 107.67 78.3841 109.993 97.2654 110.299C106.677 110.449 116.092 110.119 125.454 109.313C130.138 108.899 134.805 108.356 139.454 107.756C144.103 107.156 148.665 106.328 153.331 105.557L153.644 105.557C154.689 105.404 155.767 105.566 156.679 106.014L165.353 110.299L173.68 114.698C179.421 117.554 185.059 120.654 190.714 123.639L185.51 126.667L179.734 93.9591L179.734 93.8306C179.673 93.6482 179.673 93.4559 179.734 93.2735C180.371 91.9306 180.785 90.523 180.965 89.0887L180.965 88.9887C180.999 88.7528 181.134 88.5347 181.347 88.3746C183.845 86.3607 186.256 84.304 188.546 82.133C190.799 79.9488 192.891 77.6546 194.808 75.263C198.702 70.4682 201.435 65.0996 202.857 59.452ZM203.707 59.5805C203.07 62.4575 202.088 65.2755 200.776 67.993C199.427 70.699 197.851 73.3239 196.057 75.8486C194.257 78.3703 192.27 80.7982 190.107 83.1185C187.991 85.4609 185.736 87.7175 183.394 89.9171L183.776 89.203C183.72 90.8612 183.411 92.5072 182.856 94.1019L182.856 93.4307L192.31 125.553C192.511 126.277 192.36 127.038 191.89 127.672C191.421 128.307 190.669 128.766 189.795 128.952C188.963 129.119 188.086 129.028 187.332 128.695L187.089 128.581C181.191 125.895 175.258 123.267 169.412 120.511L160.634 116.412L151.961 112.227L155.309 112.627C136.219 116.593 116.542 118.31 96.8664 117.726C77.2357 117.089 57.8017 114.254 39.1004 109.299C34.1599 108.075 29.4788 106.23 25.2227 103.829C23.0275 102.53 21.0501 100.998 19.3421 99.2723C17.6815 97.6405 16.1737 95.9074 14.8318 94.0877C12.3538 90.5635 10.1856 86.8978 8.34398 83.1185C6.38224 79.3957 4.69081 75.5802 3.27862 71.6923C1.89505 67.7698 1.11412 63.72 0.9541 59.6376C0.9541 58.6093 0.9541 57.5809 0.9541 56.5668C0.9541 55.5527 1.249 54.5387 1.35308 53.5246L1.80411 50.4252L2.68881 47.5687C2.98372 46.5832 3.19188 45.5834 3.55617 44.6121L4.80516 41.7556C5.59747 39.8343 6.58393 37.971 7.75418 36.1853L8.56949 34.757L9.54093 33.4716L11.5185 30.915C12.8716 29.2296 14.5022 27.7013 15.9767 26.0874C22.4878 20.0224 30.252 14.9547 38.9096 11.119C47.552 7.22332 56.8121 4.33899 66.4222 2.54937C85.8163 -1.10702 106.008 0.178435 125.021 3.5206C129.774 4.34901 134.527 5.3488 139.176 6.37716C143.825 7.40552 148.457 8.46244 153.054 9.59078C162.522 11.7734 171.646 14.8655 180.237 18.8032C184.558 20.8141 188.541 23.2822 192.085 26.1445C195.573 29.0559 198.43 32.4373 200.533 36.1425C202.619 39.7908 203.916 43.7106 204.367 47.7258C204.824 51.6832 204.602 55.674 203.707 59.5805Z' fill='white'/%3E%3C/svg%3E%0A");
    right: 165px;
    top: 11%;
    transform: rotate(-15.32deg);
    padding-bottom: 10px;

    @include for-size(tablet-portrait-up) {
      display: none;
    }
  }
}
