.feedback {
  padding-bottom: 100px;

  @include for-size(tablet-portrait-up) {
    padding-bottom: 120px;
  }
}

.feedback-slide {
  @include dashed-back;
  border-radius: $br;
  height: auto;
  width: 320px;
  padding: 40px 24px;

  @include for-size(tablet-portrait-up) {
    width: 384px;
  }

  &__header {
    display: flex;
    align-items: center;
    margin-bottom: 24px;
  }

  &__avatar {
    border-radius: 50%;
    height: 72px;
    width: 72px;
    overflow: hidden;
    margin-right: 16px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__title {
    font-size: rem(18);
    line-height: rem(24);
    margin-top: 0;
    margin-bottom: 8px;
  }

  &__social {
    width: 20px;
  }
}