.form-section {
  padding-top: 100px;
  padding-bottom: 260px;
  overflow: hidden;

  @include for-size(tablet-portrait-up) {
    padding-top: 120px;
    padding-bottom: 260px;
  }

  &:before {
    content: "";
    left: 0;
    right: 0;
    height: 20%;
    top: 0;
    position: absolute;
    background: linear-gradient(180deg, rgba(41, 29, 14, 0.3) 0%, rgba(213, 165, 107, 0) 70%, rgba(213, 165, 107, 0) 100%);
  }
}

.form-box {
  @include dashed-back;
  padding: 46px 24px;
  width: 750px;
  max-width: 100%;
  margin: 0 auto;
  border-radius: $br;

  @include for-size(tablet-portrait-up) {
    padding: 64px 96px;
  }

  &__title {
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
    font-size: rem(28);
    line-height: rem(32);
    color: $c-primary-text;

    @include for-size(tablet-portrait-up) {
      font-size: rem(40);
      line-height: rem(56);
    }
  }

  &__subtitle {
    text-align: center;
    margin-top: 16px
  }

  &__img {
    position: absolute;
    top: calc(100% - 25px);
    left: 50%;
    transform: translateX(-50%);
  }

  &__bubble {
    @include bubble(198, 120, 234, 177);
    background-image: url("data:image/svg+xml,%3Csvg width='202' height='124' viewBox='0 0 202 124' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.15074 68.7797C1.38229 76.0205 2.82437 83.5008 7.23594 89.9702C9.48325 93.0981 12.4307 95.8786 15.9376 98.179C19.5033 100.404 23.4365 102.24 27.6315 103.637C31.8297 105.074 36.1592 106.264 40.5848 107.198C45.0067 108.17 49.5276 108.967 54.0807 109.658C58.6339 110.348 63.2218 111.091 67.8433 111.82C72.4649 112.549 76.9511 113.294 81.4358 113.945C90.4728 115.294 99.6122 116.196 108.801 116.647C117.933 117.098 127.109 116.753 136.16 115.618C145.244 114.427 154.063 112.187 162.332 108.971C170.648 105.766 178.073 101.285 184.167 95.794C190.178 90.2643 194.245 83.5989 195.958 76.4674L196.579 73.793L196.792 71.1249C196.779 70.2323 196.918 69.3375 196.955 68.4575C196.993 67.5775 196.928 66.6724 196.762 65.7955C196.296 62.2426 195.264 58.7531 193.689 55.4092C192.072 52.0251 190.176 48.7291 188.013 45.5421C185.984 42.3434 183.671 39.2619 181.093 36.3201C179.827 34.9095 178.447 33.5642 176.963 32.2923C175.553 31.1107 173.953 30.0781 172.204 29.2201C168.45 27.5059 164.401 26.2215 160.179 25.4056C142.384 21.6798 124.031 19.7911 105.582 19.7868C96.3852 19.7867 87.1931 20.2335 78.0581 21.1247C73.4885 21.5806 68.9376 22.1561 64.4045 22.7847C59.8714 23.4133 55.4263 24.2537 50.8786 25.0424L50.5736 25.047C49.5542 25.2049 48.4992 25.0696 47.6015 24.6658L39.0676 20.7982L30.8709 16.8189C25.2212 14.2399 19.6696 11.4329 14.1028 8.73277L19.1438 5.8313L25.2508 36.2516L25.2526 36.3715C25.3143 36.5407 25.317 36.7201 25.2605 36.891C24.6568 38.153 24.272 39.4721 24.1167 40.8125L24.1181 40.9058C24.089 41.1263 23.9597 41.3317 23.754 41.4842C21.3423 43.3997 19.0159 45.3538 16.8098 47.4127C14.6394 49.4833 12.629 51.6541 10.7896 53.9133C7.05389 58.4432 4.46016 63.491 3.15074 68.7797V68.7797ZM2.31855 68.6725C2.90041 65.9796 3.81976 63.3367 5.06316 60.7826C6.34193 58.2387 7.84493 55.7671 9.56114 53.3857C11.2837 51.0069 13.1905 48.7129 15.2706 46.5167C17.3049 44.3005 19.4759 42.1622 21.7324 40.0759L21.3697 40.7477C21.4005 39.2002 21.6789 37.6604 22.1984 36.1648L22.2079 36.7909L12.5166 6.97139C12.3108 6.29845 12.4472 5.587 12.897 4.98807C13.3468 4.38913 14.0745 3.94987 14.9256 3.76353C15.7355 3.59501 16.5939 3.66737 17.3356 3.96671L17.5745 4.06968C23.3743 6.48649 29.2073 8.8495 34.9573 11.3337L43.5902 15.0266L52.1228 18.8009L48.8465 18.4776C67.4391 14.4944 86.637 12.6009 105.866 12.8537C125.053 13.1554 144.078 15.5109 162.417 19.8552C167.261 20.9234 171.86 22.5749 176.052 24.7511C178.215 25.9301 180.168 27.3296 181.861 28.9133C183.507 30.4106 185.004 32.0047 186.341 33.682C188.812 36.9321 190.982 40.319 192.834 43.8165C194.804 47.2596 196.51 50.7931 197.945 54.3984C199.352 58.0363 200.172 61.8019 200.387 65.6072C200.401 66.5663 200.416 67.5255 200.43 68.4713C200.444 69.4171 200.171 70.3673 200.083 71.3147L199.687 74.2121L198.863 76.8896C198.589 77.8131 198.4 78.7487 198.058 79.66L196.878 82.3428C196.131 84.1466 195.194 85.8991 194.076 87.582L193.3 88.9263L192.369 90.1396L190.474 92.5535C189.176 94.1456 187.604 95.5952 186.187 97.1224C179.912 102.876 172.399 107.718 163.996 111.424C155.609 115.186 146.603 118.014 137.241 119.826C118.347 123.524 98.6029 122.625 79.9823 119.79C75.3272 119.088 70.6697 118.226 66.1135 117.336C61.5573 116.446 57.0177 115.529 52.5109 114.545C43.2303 112.65 34.2736 109.902 25.8253 106.357C21.5751 104.545 17.6489 102.302 14.1468 99.6853C10.6979 97.0217 7.85863 93.9103 5.75215 90.4858C3.66282 87.114 2.33987 83.4773 1.84272 79.739C1.34023 76.0547 1.50042 72.3293 2.31855 68.6725V68.6725Z' fill='white'/%3E%3C/svg%3E%0A");
    top: 96%;
    left: 52%;
    transform: rotate(16deg);

    @include for-size(tablet-portrait-up) {
      background-image: url("data:image/svg+xml,%3Csvg width='239' height='185' viewBox='0 0 239 185' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.52644 102.628C2.5717 113.367 4.39727 124.443 9.69797 134.005C12.3953 138.628 15.9101 142.732 20.0747 146.122C24.3071 149.399 28.9649 152.098 33.9232 154.147C38.8859 156.252 43.9987 157.992 49.2202 159.353C54.4378 160.769 59.769 161.926 65.1363 162.924C70.5035 163.923 75.9125 164.999 81.3609 166.054C86.8093 167.11 92.0987 168.189 97.3848 169.13C108.037 171.079 118.802 172.367 129.618 172.986C140.367 173.604 151.153 173.044 161.779 171.314C172.442 169.5 182.777 166.134 192.446 161.323C202.172 156.529 210.828 149.849 217.9 141.68C224.875 133.454 229.543 123.556 231.435 112.98L232.118 109.013L232.323 105.059C232.292 103.736 232.44 102.41 232.469 101.106C232.498 99.8014 232.406 98.4606 232.196 97.1622C231.586 91.9001 230.312 86.7352 228.401 81.7888C226.441 76.7832 224.154 71.9096 221.555 67.1988C219.113 62.4701 216.34 57.9165 213.256 53.5716C211.742 51.4882 210.097 49.5022 208.329 47.6256C206.65 45.8824 204.751 44.3609 202.679 43.099C198.234 40.5792 193.449 38.698 188.469 37.5117C167.474 32.087 145.856 29.3873 124.156 29.4805C113.339 29.5299 102.535 30.2416 91.8062 31.6114C86.4394 32.3116 81.0967 33.1889 75.7758 34.1447C70.455 35.1006 65.2413 36.3698 59.9061 37.563L59.5474 37.5715C58.3511 37.811 57.108 37.6162 56.0451 37.0227L45.9408 31.3379L36.2312 25.4858C29.5415 21.6949 22.9634 17.5655 16.3691 13.5946L22.248 9.26814L29.9572 54.3105L29.9614 54.4881C30.0369 54.7384 30.0432 55.0043 29.9797 55.2579C29.2914 57.1311 28.8617 59.0877 28.7022 61.0747L28.7055 61.2129C28.6751 61.5398 28.5266 61.8448 28.2872 62.072C25.4838 64.9232 22.7814 67.8313 20.2222 70.8939C17.7053 73.9738 15.3782 77.2012 13.2539 80.5587C8.9384 87.2911 5.97506 94.7846 4.52644 102.628ZM3.54578 102.474C4.18356 98.4805 5.21915 94.5594 6.63741 90.7681C8.09747 86.9919 9.8225 83.3214 11.7999 79.7835C13.7848 76.2495 15.9878 72.8401 18.3964 69.5746C20.7506 66.2798 23.2672 63.0997 25.8852 59.9962L25.4702 60.9935C25.4796 58.7003 25.7805 56.4173 26.3656 54.1983L26.3876 55.126L14.473 10.9932C14.2192 9.9972 14.3674 8.94228 14.8861 8.05238C15.4047 7.16247 16.253 6.50768 17.2509 6.22697C18.2006 5.9729 19.2114 6.07549 20.089 6.51505L20.3717 6.66632C27.2352 10.2162 34.1366 13.6861 40.9426 17.336L51.1604 22.7614L61.2614 28.308L57.4023 27.8466C79.2016 21.8442 101.749 18.935 124.37 19.2059C146.942 19.5494 169.36 22.9371 191.005 29.2754C196.721 30.8321 202.159 33.2543 207.127 36.4564C209.691 38.1916 212.013 40.2548 214.032 42.5924C215.993 44.8021 217.782 47.1561 219.383 49.6342C222.345 54.4367 224.956 59.4435 227.196 64.616C229.571 69.7072 231.64 74.9337 233.39 80.2681C235.108 85.651 236.138 91.2263 236.455 96.8636C236.489 98.2847 236.523 99.7058 236.556 101.107C236.589 102.509 236.284 103.918 236.198 105.322L235.781 109.618L234.859 113.589C234.552 114.959 234.346 116.347 233.959 117.699L232.618 121.681C231.771 124.357 230.699 126.959 229.414 129.459L228.524 131.455L227.45 133.258L225.262 136.845C223.763 139.211 221.94 141.367 220.299 143.638C213.019 152.197 204.266 159.412 194.447 164.949C184.647 170.568 174.104 174.807 163.123 177.542C140.964 183.124 117.726 181.899 95.7763 177.799C90.289 176.783 84.7961 175.531 79.4218 174.237C74.0475 172.943 68.6922 171.609 63.3744 170.175C52.4261 167.417 41.8438 163.393 31.8458 158.185C26.8155 155.524 22.1588 152.222 17.9945 148.363C13.8918 144.435 10.4985 139.84 7.96169 134.777C5.44594 129.792 3.82699 124.411 3.17759 118.874C2.52283 113.418 2.64678 107.897 3.54578 102.474Z' fill='white'/%3E%3C/svg%3E%0A");
      left: 87%;
      top: 35%;
      transform: rotate(-16deg);
    }
  }
}

.form {
  &__field {
    margin-bottom: 16px;
  }

  &__btn,
  &__check {
    margin-top: 32px;
  }
}

.field {
  position: relative;

  &--required:after {
    content: "*";
    position: absolute;
    right: 18px;
    bottom: 24px;
    color: $c-pink-text;

  }
  &__label {
    color: $c-secondary-text;
  }

  &__holder {
    position: relative;
    margin-top: 10px;

    &:after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      border-radius: $br;
      border: 1px solid transparent;
      background:linear-gradient(45deg, #702283, #E6007E) border-box;
      -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
      -webkit-mask-composite: destination-out;
      mask-composite: exclude;
    }
  }

  &__input {
    font-size: rem(20);
    height: 60px;
    line-height: 60px;
    border: 1px solid transparent;
    border-radius: $br;
    width: 100%;
    color: $c-primary-text;
    padding: 0 18px;
    position: relative;
    z-index: 1;

    @include for-size(tablet-portrait-up) {
      font-size: rem(22);
    }

    &::placeholder {
      color: $c-primary-text;
    }
  }
}

.check {
  display: inline-flex;
  align-items: center;

  &__input {
    position: absolute;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 1px;
    height: 1px;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

  &__box {
    width: 32px;
    min-width: 32px;
    height: 32px;
    border-radius: $br;
    display: inline-block;
    margin-inline-end: 10px;
    background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0.5' y='0.5' width='31' height='31' rx='7.5' stroke='url(%23paint0_linear)'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear' x1='0' y1='0' x2='35.8454' y2='5.12984' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23702283'/%3E%3Cstop offset='1' stop-color='%23E6007E'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A");
    cursor: pointer;
    position: relative;

    &:before {
      content: "";
      background-image: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 512 405' enable-background='new 0 0 512 405' xml:space='preserve'%3E%3Cpath fill='%23E2017F' d='M432,5L192,245L80,133L0,213l192,192L512,85L432,5z'/%3E%3C/svg%3E%0A");
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 20px;
      height: 17px;
      background-repeat: no-repeat;
      opacity: 0;
      transition: opacity $animate-duration-effect ease;
    }

    .check__input:checked + &:before {
      opacity: 1;
    }
  }

  &__lbl {
    color: #6C6459;

    a {
      color: $c-secondary-text;
      @include link-hover;
    }
  }
}