.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 72px;
  z-index: 10;
  background-image: url("../img/header-back.jpg");

  @include for-size(tablet-landscape-up) {
    height: 88px;
  }

  &__inner {
    height:100%;
    @include flex(flex, center, space-between);
  }

  &__nav {
    flex-grow: 1;
    @include flex(flex, center, null);
    opacity: 0;
    visibility: hidden;
    position: fixed;
    background-image: url("../img/header-back.jpg");
    top: 71px;
    left: 0;
    right: 0;
    bottom: 0;
    flex-direction: column;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
    transition: visibility, opacity $animate-duration-effect ease;

    &.active {
      opacity: 1;
      visibility: visible;
    }

    @include for-size(tablet-portrait-up) {
      flex-direction: row;
      opacity: 1;
      visibility: visible;
      position: relative;
      background-image: none;
      top: auto;
      left: auto;
      right: auto;
      bottom: auto;
      padding-left: 0;
      padding-right: 0;
      padding-top: 0;
    }
  }

  &__contacts {
    color:$c-white-text;
    font-size: rem(18);
    text-align: center;
    position: relative;
    padding-top: 30px;
    padding-bottom: 30px;

    @include for-size(tablet-portrait-up) {
      text-align: left;
    }

    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 20%;
      right: 20%;
      height: 1px;
      background-color: #D4B997;

      @include for-size(tablet-portrait-up) {
        display: none;
      }
    }
  }

  &__mobile {
    margin-bottom: 0;

    @include for-size(tablet-portrait-up) {
      display: none;
    }
  }
}

.nav {
  flex-grow: 1;
  padding: 0 8px;

  &__list {
    padding: 0;
    margin: 0;
    @include flex(flex, center, space-evenly);
    flex-direction: column;
    height: 100%;

    @include for-size(tablet-portrait-up) {
      flex-direction: row;
    }
  }

  &__item {
    list-style: none;
    text-align: center;

    @include for-size(tablet-portrait-up) {
      text-align: left;
    }
  }

  &__link {
    color: $c-nav-link;
    text-decoration: none;
    font-size: rem(22);
    transition: color $animate-duration-effect ease;

    @include for-size(tablet-portrait-up) {
      font-size: 1rem;
    }

    @include link-hover;
  }
}

.menu-btn {
  position: relative;
  width: 40px;
  height: 40px;

  @include for-size(tablet-portrait-up) {
    display: none;
  }

  &:before {
    @include icon-shadow;
  }

  img {
    transition: visibility, opacity $animate-duration-effect ease;
    position: absolute;
    top: 0;
    left: 0;
  }

  &__close,
  &.active .menu-btn__open {
    opacity: 0;
    visibility: hidden;
  }

  &.active .menu-btn__close {
    opacity: 1;
    visibility: visible;
  }
}