a {
  transition: color $animate-duration-effect ease;
}

.contact-link {
  font-size: rem(22);
  color: $c-contact-link;
  text-decoration: none;
  font-weight: 500;

  @include for-size(tablet-portrait-up) {
    font-size: rem(24);
  }

  @include link-hover;
}
