.logo-slide {
  @include dashed-back;
  border-radius: $br;
  @include flex(flex, center, center);
  width: 136px;
  height: 72px;
  padding: 10px;

  @include for-size(tablet-portrait-up) {
    width: 220px;
    height: 112px;
    padding: 20px;
  }
}