.politics {
  &__img {
    position: relative;
    margin-left: -15px;
    margin-right: -15px;
    padding-top: 200px;
    width: calc(100% + 30px);
    display: flex;
    justify-content: center;
    overflow: hidden;

    @include for-size(tablet-portrait-up) {
      width: 65%;
      margin-left: 0;
      margin-right: 0;
    }

    img {
      width: 150vw;
      max-width: inherit;

      @include for-size(tablet-portrait-up) {
        max-width: 100%;
      }
    }
  }

  &__bubble-1 {
    @include bubble(185, 96, 234, 124);
    background-image: url("data:image/svg+xml,%3Csvg width='234' height='131' viewBox='0 0 234 131' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M231.627 63.645C234.157 56.2461 232.943 48.3827 228.186 41.3691C225.752 37.9705 222.476 34.8854 218.515 32.2611C214.48 29.7116 209.989 27.541 205.164 25.8075C200.338 24.0339 195.343 22.5072 190.218 21.2396C185.101 19.933 179.856 18.8011 174.567 17.7783C169.278 16.7554 163.951 15.6754 158.584 14.6075C153.218 13.5396 148.01 12.4649 142.799 11.4871C132.299 9.47939 121.652 7.92789 110.918 6.84162C100.25 5.75951 89.4812 5.50075 78.8081 6.07007C68.0929 6.69547 57.6208 8.42805 47.7321 11.2115C37.788 13.9798 28.8068 18.1328 21.3215 23.424C13.9293 28.761 8.74324 35.4079 6.28425 42.697L5.38795 45.4319L4.96842 48.1878C4.9277 49.1154 4.70819 50.0351 4.60848 50.9463C4.50877 51.8574 4.52704 52.8014 4.66571 53.723C4.98574 57.4432 5.9738 61.1356 7.60663 64.7134C9.28529 68.3356 11.2969 71.8852 13.6287 75.3396C15.8024 78.7972 18.3155 82.1521 21.1493 85.3797C22.5425 86.9295 24.0726 88.419 25.7303 89.8393C27.3071 91.161 29.1151 92.3406 31.1094 93.3491C35.3977 95.3813 40.0584 96.9871 44.9518 98.1182C65.5588 103.183 86.935 106.378 108.544 107.624C119.316 108.242 130.111 108.396 140.867 108.085C146.248 107.919 151.615 107.628 156.964 107.28C162.314 106.932 167.573 106.359 172.95 105.846L173.307 105.861C174.512 105.766 175.739 105.977 176.764 106.457L186.515 111.047L195.863 115.729C202.317 118.787 208.641 122.075 214.99 125.252L208.901 127.926L203.678 95.9312L203.684 95.8066C203.622 95.6268 203.63 95.4403 203.707 95.2666C204.495 93.9969 205.029 92.6533 205.296 91.2721L205.3 91.1752C205.348 90.9482 205.513 90.7436 205.763 90.599C208.71 88.7725 211.558 86.9001 214.273 84.9108C216.946 82.9069 219.439 80.7883 221.737 78.5664C226.399 74.1144 229.758 69.0479 231.627 63.645ZM232.595 63.8123C231.742 66.569 230.498 69.2512 228.88 71.8194C227.22 74.3746 225.303 76.8397 223.142 79.1968C220.973 81.5507 218.595 83.8042 216.019 85.9446C213.496 88.1087 210.817 90.1828 208.042 92.1971L208.509 91.5241C208.375 93.1287 207.951 94.7086 207.248 96.2266L207.276 95.5759L216.736 127.188C216.934 127.9 216.729 128.63 216.165 129.221C215.6 129.813 214.72 130.22 213.711 130.356C212.752 130.477 211.751 130.344 210.901 129.983L210.628 129.86C203.988 126.961 197.306 124.115 190.729 121.15L180.851 116.735L171.097 112.242L174.914 112.798C152.884 115.684 130.278 116.358 107.771 114.803C85.3179 113.199 63.1836 109.474 41.9787 103.73C36.3731 102.296 31.091 100.272 26.3194 97.7302C23.8607 96.3608 21.6616 94.7764 19.779 93.0182C17.9468 91.353 16.2939 89.5972 14.8346 87.7658C12.1469 84.2252 9.82002 80.5629 7.87186 76.807C5.78378 73.0997 4.00919 69.3163 2.55746 65.4766C1.13998 61.6049 0.418026 57.6401 0.408495 53.6748C0.452255 52.678 0.496015 51.6812 0.539167 50.6983C0.582319 49.7153 0.963179 48.7471 1.12552 47.7694L1.7739 44.7878L2.90858 42.0633C3.28823 41.1229 3.56915 40.1642 4.02765 39.2411L5.5795 36.5349C6.56857 34.7124 7.7775 32.9559 9.1936 31.2838L10.188 29.9403L11.3552 28.7431L13.7286 26.3643C15.3498 24.7987 17.2822 23.3993 19.0394 21.909C26.7537 16.3573 35.8605 11.8354 45.9381 8.55267C56.0007 5.21092 66.7276 2.88059 77.8088 1.62899C100.174 -0.940259 123.242 1.32086 144.872 5.5163C150.28 6.55824 155.68 7.76632 160.96 8.99685C166.24 10.2274 171.499 11.4847 176.716 12.8096C187.466 15.4012 197.782 18.8571 207.452 23.1059C212.316 25.2724 216.772 27.8651 220.708 30.8177C224.579 33.8151 227.707 37.2365 229.957 40.9336C232.19 44.5749 233.509 48.4397 233.854 52.3544C234.209 56.2134 233.785 60.0706 232.595 63.8123Z' fill='white'/%3E%3C/svg%3E%0A");
    top: 7%;
    right: 40%;
    transform: rotate(2.51deg);
    padding-left: 20px;
    padding-right: 20px;

    @include for-size(tablet-portrait-up) {
      top: 3%;
      right: 34%;
      transform: rotate(-2.51deg);
    }
  }

  &__bubble-2 {
    @include bubble(133, 80, 162, 97);
    background-image: url("data:image/svg+xml,%3Csvg width='164' height='101' viewBox='0 0 164 101' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.34306 48.6513C0.55612 42.8844 1.37222 36.7697 4.65496 31.3292C6.33526 28.6933 8.60236 26.3045 11.3481 24.2767C14.1453 22.3074 17.2603 20.6346 20.6097 19.3032C23.9597 17.9406 27.4284 16.7707 30.9877 15.803C34.5421 14.8048 38.1855 13.9431 41.8604 13.1664C45.5352 12.3896 49.2358 11.5686 52.9645 10.7571C56.6931 9.94561 60.3108 9.1282 63.9318 8.38622C71.2265 6.86209 78.6261 5.69348 86.0872 4.88721C93.5028 4.08394 100.991 3.92175 108.416 4.4036C115.871 4.92925 123.16 6.3156 130.048 8.51757C136.974 10.708 143.235 13.9724 148.461 18.1172C153.621 22.2972 157.252 27.4885 158.989 33.1697L159.622 35.3012L159.924 37.4473C159.956 38.1692 160.112 38.8858 160.184 39.5952C160.257 40.3045 160.248 41.0391 160.155 41.7558C159.946 44.6496 159.272 47.5193 158.149 50.2975C156.995 53.1101 155.609 55.865 154 58.5447C152.5 61.2274 150.765 63.829 148.806 66.3304C147.842 67.5313 146.784 68.6848 145.636 69.7841C144.544 70.8068 143.291 71.7182 141.908 72.4957C138.933 74.0616 135.697 75.2942 132.298 76.1566C117.984 80.0231 103.129 82.4318 88.105 83.3222C80.6156 83.7644 73.1086 83.8451 65.6268 83.564C61.8836 83.4152 58.15 83.1689 54.4284 82.8788C50.7067 82.5887 47.0465 82.1232 43.3054 81.7044L43.0567 81.7153C42.219 81.6367 41.3664 81.7968 40.6546 82.1663L33.8902 85.7022L27.4058 89.3122C22.9284 91.6681 18.5419 94.2035 14.1379 96.6533L18.382 98.7559L21.8983 73.8773L21.894 73.7804C21.9362 73.6407 21.9298 73.4956 21.8756 73.3601C21.3235 72.3692 20.947 71.3217 20.7563 70.2459L20.753 70.1704C20.7187 69.9936 20.6036 69.8338 20.4288 69.7204C18.373 68.2883 16.3849 66.8209 14.4898 65.263C12.6231 63.6939 10.882 62.0361 9.27583 60.2988C6.01668 56.8173 3.66271 52.8625 2.34306 48.6513ZM1.6705 48.778C2.27332 50.9263 3.14857 53.018 4.28347 55.0225C5.44669 57.0169 6.78904 58.9421 8.30072 60.7842C9.81743 62.6239 11.4801 64.3862 13.2792 66.0611C15.042 67.7544 16.9124 69.3781 18.85 70.9557L18.5224 70.4303C18.6216 71.6795 18.9221 72.9105 19.4167 74.0943L19.3945 73.5878L12.9305 98.1531C12.7951 98.7068 12.9403 99.2753 13.3353 99.7377C13.7302 100.2 14.3439 100.52 15.0459 100.63C15.7135 100.727 16.4091 100.627 16.9988 100.35L17.1884 100.255C21.7958 98.023 26.4327 95.8329 30.9963 93.5488L37.8497 90.1493L44.6175 86.6888L41.9649 87.1076C57.2967 89.433 73.0213 90.0404 88.6687 88.9116C104.279 87.7455 119.659 84.9273 134.386 80.5347C138.279 79.4385 141.946 77.8828 145.255 75.9225C146.96 74.8657 148.484 73.6408 149.786 72.2794C151.055 70.9903 152.198 69.6299 153.206 68.2101C155.062 65.4647 156.667 62.6232 158.009 59.7075C159.447 56.8302 160.668 53.8925 161.664 50.9098C162.635 47.9021 163.123 44.8194 163.115 41.7338C163.081 40.9579 163.047 40.182 163.014 39.417C162.98 38.6519 162.712 37.8971 162.595 37.1357L162.133 34.8131L161.334 32.6888C161.067 31.9556 160.868 31.2086 160.546 30.4886L159.457 28.377C158.762 26.9552 157.915 25.5839 156.924 24.2776L156.227 23.2285L155.411 22.2926L153.752 20.4329C152.619 19.2086 151.27 18.1126 150.042 16.9465C144.657 12.5983 138.307 9.04626 131.286 6.45506C124.276 3.81799 116.807 1.96556 109.095 0.951285C93.5316 -1.1294 77.4962 0.546248 62.4682 3.73238C58.7109 4.52352 54.9594 5.44397 51.2916 6.38234C47.6239 7.32071 43.9709 8.28002 40.3479 9.292C32.881 11.2697 25.7186 13.9214 19.0085 17.1926C15.6341 18.8609 12.5442 20.8622 9.81759 23.1455C7.13646 25.4639 4.97333 28.115 3.42193 30.9839C1.88196 33.8093 0.978788 36.812 0.752974 39.8571C0.520232 42.8588 0.829103 45.8619 1.6705 48.778Z' fill='white'/%3E%3C/svg%3E%0A");
    top: 23%;
    left: 54%;
    transform: rotate(2.51deg);

    @include for-size(tablet-portrait-up) {
      top: 21%;
      right: 20%;
      left: auto;
    }
  }
}

.politics-box {
  font-size: rem(16);
  line-height: rem(24);

  @include for-size(tablet-portrait-up) {
    @include flex(flex, null, space-between);
  }

  > div {
    @include for-size(tablet-portrait-up) {
      width: 47%;
    }
  }

  h2, h3 {
    font-size: rem(24);
    line-height: rem(32);
    font-weight: 500;
    margin-bottom: 32px;
  }
}