.social {
  &__title {
    margin-bottom: 12px;
    margin-top: 0;
    font-weight: 400;

    .header & {
      font-size: rem(16);
      line-height: rem(20);
    }
  }

  &__items {
    @include flex(inline-flex, null, null);
    gap: 12px;
  }

  &__link {
    width: 32px;
    height: 32px;
  }
}