@keyframes fadeInLeft {
	0% {
		opacity: 0;
		transform: translate3d(-100%, 0, 0);
	}

	100% {
		opacity: 1;
		transform: none;
	}
}

@keyframes fadeInRight {
	0% {
		opacity: 0;
		transform: translate3d(100%, 0, 0);
	}

	100% {
		opacity: 1;
		transform: none;
	}
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

.fade-in.is-in-view {
	@include for-size(tablet-portrait-up) {
		animation-duration: 0.8s;
		animation-fill-mode: both;
		animation-name: fadeIn;
	}
}

.fade-in-right.is-in-view {
	@include for-size(tablet-portrait-up) {
		animation-duration: 0.8s;
		animation-fill-mode: both;
		animation-name: fadeInRight;
	}
}


.is-in-view {
	animation-delay: 0.3s;
}

.is-in-view.delay-1 {
	animation-delay: 0.6s;
}

.is-in-view.delay-2 {
	animation-delay: 0.9s;
}

.is-in-view.delay-3 {
	animation-delay: 1.2s;
}

.is-in-view.delay-4 {
	animation-delay: 1.5s;
}

.is-in-view.delay-5 {
	animation-delay: 1.8s;
}

.is-in-view.delay-6 {
	animation-delay: 1.5s;
}
