<section class="section about">
    <div class="container">
        <h2 class="section__title">Однозначно, да!</h2>
        <div class="about__inner">
            <div class="about__info">
                <p>Наполнитель из бентонитовой глины, добываемой
                    в Кинельском районе Самарской области производственной компанией «Недра-Ресурс».</p>
                <p><strong>Создает комфортную жизнь кошкам и их владельцам.</strong> Спрессованные гранулы поглощают
                    влагу и нейтрализуют «ароматы». Плотный комочек удобно удаляется лопаткой.</p>
                <p>Питомцы считают такой наполнитель максимально приближенным к природе и с удовольствием
                    в нём копаются.</p>
            </div>
            <div class="about__advantages">
                <div class="about__package">
                    <img src="styles/img/package.png" alt="">
                </div>
                <ul class="custom-list">
                    <li class="custom-list__item">Удобно нести до дома</li>
                    <li class="custom-list__item">Легко открывать</li>
                    <li class="custom-list__item">Не вызывает аллергии</li>
                    <li class="custom-list__item">Стильно дополняет интерьер</li>
                    <li class="custom-list__item">Не разносится на лапах</li>
                    <li class="custom-list__item">Экономичный расход</li>
                </ul>
            </div>
        </div>
        <div class="about__cat-bubble">
            <img src="styles/img/about-cat.png" alt="">
            <div class="about__bubble bubble">НУ ЧТО ТЫ СМОТРИШЬ?!
                УЖЕ ДАЖЕ МНЕ ПОНЯТНО,
                ЧТО НАДО БРАТЬ!
            </div>
        </div>
    </div>
</section>