<section class="section about-package">
    <div class="container">
        <div class="section__heading">
            <h2 class="section__title">Береги шерсть смолоду,
                а деньги — всегда!</h2>
        </div>
        <div class="about-package__inner">
            <div class="about-package__info">
                <p>Мы выпускаем наполнитель с тремя размерами гранул:</p>
                <ul>
                    <li>для котят;</li>
                    <li>универсальные;</li>
                    <li>для длинношерстных кошек.</li>
                </ul>
                <p>Это обеспечивает комфорт животному и <b>не позволяет ему растаскивать наполнитель в своей «шубе»</b>, а
                    значит экономит ваше время на уборку квартиры.</p>
                <p>Наполнитель «Коту под хвост» выпускается объемом 15 кг,
                    10 кг, 5 кг, 3 кг. <b>Чем больше упаковка, тем выгоднее цена.</b>
                    Купи 15 кг и радуй питомца два месяца!</p>
                <img src="styles/img/packages.svg" alt="">
            </div>
            <div class="about-package__img">
                <img class="fade-in-right in-view-watcher delay-1" src="styles/img/cat.png" alt="">
                <div class="about-package__bubble-1 fade-in in-view-watcher delay-2">СМОТРИ!
                    ДАЖЕ НИЧЕГО
                    НЕ ПРИЛИПЛО!
                </div>
            </div>
        </div>
    </div>
</section>