<section class="about-package">
    <div class="container">
        <div class="section-heading">
            <h2 class="section-title">Береги шерсть смолоду,
                а деньги — всегда!</h2>
        </div>
        <div class="about-package__inner">
            <div class="about-package__info">
                <p>Мы выпускаем наполнитель с тремя размерами гранул:</p>
                <ul>
                    <li>для котят;</li>
                    <li>универсальные;</li>
                    <li>для длинношерстных кошек.</li>
                </ul>
                <p>Это обеспечивает комфорт животному и <strong>не позволяет ему растаскивать наполнитель в своей «шубе»</strong>, а
                    значит экономит ваше время на уборку квартиры.</p>
                <p>Наполнитель «Коту под хвост» выпускается объемом 15 кг,
                    10 кг, 5 кг, 3 кг. <strong>Чем больше упаковка, тем выгоднее цена.</strong>
                    Купи 15 кг и радуй питомца два месяца!</p>
                <img src="styles/img/packages.svg" alt="">
            </div>
            <div class="about-package__img">
                <img src="styles/img/cat.png" alt="">
                <div class="about-package__bubble bubble">СМОТРИ!
                    ДАЖЕ НИЧЕГО
                    НЕ ПРИЛИПЛО!
                </div>
            </div>
        </div>
    </div>
</section>