<section class="banner">
    <div class="banner__inner container">
        <img class="banner__img fade-in delay-2 in-view-watcher" src="styles/img/logo-large.svg" alt="КОТУ ПОД ХВОСТ - Бентонитовый комкующийся наполнитель">
        <h1 class="banner__title banner__above">Бентонитовый комкующийся <br> наполнитель</h1>
        <button class="btn banner__above">Купить не глядя</button>
        <div class="banner__media ibg">
            <img class="fade-in in-view-watcher delay-1" src="styles/img/banner-cat.png" alt="">
            <div class="banner__bubble-1 fade-in in-view-watcher delay-3">Это не деньги
                на ветер</div>
            <div class="banner__bubble-2 fade-in in-view-watcher delay-4">ЭТО экономия, удобство
                и эстетика!</div>
        </div>
    </div>
</section>