<section class="section cooperation">
    <div class="container">
        <div class="section__heading">
            <h2 class="section__title">С чуткостью к интересам партнеров</h2>
        </div>
        <div class="cooperation__inner">
            <div class="cooperation__info">
                <p><b>
                    Мы сотрудничаем с оптовыми покупателями
                    и дистрибьюторами.
                </b> Отправляем продукцию в
                    любой
                    регион России.
                </p>
                <p>Работать с нами выгодно! Мы вкладываемся в рекламу, упаковку и продвижение продукта.
                    Участвуем
                    в совместных акциях, проектах, благотворительных кампаниях. Предлагаем <b>
                        скидки и
                        специальные программы.
                    </b></p>
                <div class="cooperation__img">
                    <img src="styles/img/cat2.png" alt="">
                    <div class="cooperation__bubble bubble">НУ-КА, ЧТО ТАМ ПРО ПИТОМНИКИ НАПИСАНО?</div>
                </div>
            </div>
            <div class="cooperation__tabs">
                <div class="tabs">
                    <div class="tabs__btns">
                        <button class="tabs__btn active">Ритейлерам
                            интересно</button>
                        <button class="tabs__btn">Зоомагазинам
                            выгодно</button>
                        <button class="tabs__btn">Питомникам
                            безопасно</button>
                        <button class="tabs__btn">Оптовикам
                            надежно</button>
                        <button class="tabs__btn">Маркетплейсам
                            прикольно</button>
                    </div>
                    <div class="tabs__content active">
                        <h3 class="tabs__title">Ритейлерам интересно</h3>
                        <ul>
                            <li>Гарантируем большой объем поставок.</li>
                            <li> Клиенты приходят в сеть повторно из-за высокого качества продукта.</li>
                            <li> Конкурентная цена наполнителя.</li>
                            <li>Яркая упаковка.</li>
                            <li>Предоставляем образцы такого же качества, как и вся продукция.</li>
                            <li>Не допускаем «вымывания» продукта с полок — за этим следит отдельный специалист.</li>
                        </ul>
                        <a href="" class="btn tabs__link">Скачать презентацию</a>
                    </div>
                    <div class="tabs__content">
                        <h3 class="tabs__title">Зоомагазинам выгодно</h3>
                        <ul>
                            <li>Предлагаем продукт дешевле, чем в гипермаркете.</li>
                            <li>Обеспечиваем за счет высокого качество стабильный спрос на наполнитель в любое время года.</li>
                            <li>Способствуем рентабельности малого и среднего бизнеса.</li>
                            <li>Обеспечиваем правильно подобранный ассортимент качественной продукции.</li>
                        </ul>
                        <a href="" class="btn tabs__link">Скачать презентацию</a>
                    </div>
                </div>
            </div>
            <div class="cooperation__img-mobile">
                <img src="styles/img/cat3.png" alt="">
                <div class="cooperation__bubble-mobile bubble">НУ-КА, ЧТО ТАМ ПРО ПИТОМНИКИ НАПИСАНО?</div>
            </div>
        </div>
    </div>
</section>