<section class="section feedback">
    <div class="container">
        <div class="section__heading section__heading--full">
            <h2 class="section__title">Люди говорят</h2>
        </div>
    </div>
    <div class="about-package__slider swiper js-slider">
        <div class="swiper-wrapper">
            <div class="swiper-slide feedback-slide">
                <div class="feedback-slide__header">
                    <div class="feedback-slide__avatar">
                        <img src="img/avatar1.jpg" alt="">
                    </div>
                    <div>
                        <h5 class="feedback-slide__title">Марина, 24 года</h5>
                        <img class="feedback-slide__social" src="img/instagram.svg" alt="">
                    </div>
                </div>
                <p>
                    Котенка купила случайно, по дороге домой с работы. Такой жалкий и с большими глазами, не смогла
                    пройти мимо! Надо было срочно решать вопрос с туалетом. Купить наполнитель «Коту под хвост»
                    посоветовали в зоомагазине. Он хорошо впитывает жидкость и поглощает запахи. Комочки гранулы очень
                    просто удаляются. Самое главное, что наполнитель не вредит нежным лапкам маленького питомца. Котенок
                    в первый день понял, где ему нужно справлять свои хозяйственные
                    дела. А еще оказалось, что стоимость наполнителя вполне демократична.
                </p>
            </div>
            <div class="swiper-slide feedback-slide">
                <div class="feedback-slide__header">
                    <div class="feedback-slide__avatar">
                        <img src="img/avatar2.jpg" alt="">
                    </div>
                    <div>
                        <h5 class="feedback-slide__title">Ольга, 49 лет</h5>
                        <img class="feedback-slide__social" src="img/instagram.svg" alt="">
                    </div>
                </div>
                <p>
                    С детства люблю животных. Спасала кошек и собак, приносила их домой с улицы даже тогда, когда сама была школьницей. Использовала множество наполнителей для лотка, пока не остановилась на бентонитовом. Бентонит — природная глина. Мне нравится, что наполнитель не имеет собственного запаха и отлично поглощает запах питомца. Нашей красавице 7 лет.
                    Британская короткошерстная, привередливая ко всему окружающему.
                    А вот к лотку у нее претензий нет.
                </p>
            </div>
            <div class="swiper-slide feedback-slide">
                <div class="feedback-slide__header">
                    <div class="feedback-slide__avatar">
                        <img src="img/avatar3.jpg" alt="">
                    </div>
                    <div>
                        <h5 class="feedback-slide__title">Валерий, 64 года</h5>
                        <img class="feedback-slide__social" src="img/vk.svg" alt="">
                    </div>
                </div>
                <p>
                    У меня свой бизнес – несколько зоомагазинов в Ульяновске. В первую очередь рассматриваю на должность продавцов-консультантов людей с образованием ветеринара, считая это
                    конкурентным преимуществом. Мои продавцы прямо повеселели, когда стали торговать наполнителем «Коту под хвост». Во-первых, качество. Клиент возвращается за товаром вновь. Во-вторых, упаковка: красивая и удобная. В третьих, они, как никто, понимают, насколько самим
                    животным безопасно пользоваться наполнителем.
                </p>
            </div>
            <div class="swiper-slide feedback-slide">
                <div class="feedback-slide__header">
                    <div class="feedback-slide__avatar">
                        <img src="img/avatar1.jpg" alt="">
                    </div>
                    <div>
                        <h5 class="feedback-slide__title">Марина, 24 года</h5>
                        <img class="feedback-slide__social" src="img/instagram.svg" alt="">
                    </div>
                </div>
                <p>
                    Котенка купила случайно, по дороге домой с работы. Такой жалкий и с большими глазами, не смогла
                    пройти мимо! Надо было срочно решать вопрос с туалетом. Купить наполнитель «Коту под хвост»
                    посоветовали в зоомагазине. Он хорошо впитывает жидкость и поглощает запахи. Комочки гранулы очень
                    просто удаляются. Самое главное, что наполнитель не вредит нежным лапкам маленького питомца. Котенок
                    в первый день понял, где ему нужно справлять свои хозяйственные
                    дела. А еще оказалось, что стоимость наполнителя вполне демократична.
                </p>
            </div>
            <div class="swiper-slide feedback-slide">
                <div class="feedback-slide__header">
                    <div class="feedback-slide__avatar">
                        <img src="img/avatar2.jpg" alt="">
                    </div>
                    <div>
                        <h5 class="feedback-slide__title">Ольга, 49 лет</h5>
                        <img class="feedback-slide__social" src="img/instagram.svg" alt="">
                    </div>
                </div>
                <p>
                    С детства люблю животных. Спасала кошек и собак, приносила их домой с улицы даже тогда, когда сама была школьницей. Использовала множество наполнителей для лотка, пока не остановилась на бентонитовом. Бентонит — природная глина. Мне нравится, что наполнитель не имеет собственного запаха и отлично поглощает запах питомца. Нашей красавице 7 лет.
                    Британская короткошерстная, привередливая ко всему окружающему.
                    А вот к лотку у нее претензий нет.
                </p>
            </div>
            <div class="swiper-slide feedback-slide">
                <div class="feedback-slide__header">
                    <div class="feedback-slide__avatar">
                        <img src="img/avatar3.jpg" alt="">
                    </div>
                    <div>
                        <h5 class="feedback-slide__title">Валерий, 64 года</h5>
                        <img class="feedback-slide__social" src="img/vk.svg" alt="">
                    </div>
                </div>
                <p>
                    У меня свой бизнес – несколько зоомагазинов в Ульяновске. В первую очередь рассматриваю на должность продавцов-консультантов людей с образованием ветеринара, считая это
                    конкурентным преимуществом. Мои продавцы прямо повеселели, когда стали торговать наполнителем «Коту под хвост». Во-первых, качество. Клиент возвращается за товаром вновь. Во-вторых, упаковка: красивая и удобная. В третьих, они, как никто, понимают, насколько самим
                    животным безопасно пользоваться наполнителем.
                </p>
            </div>
            <div class="swiper-slide feedback-slide">
                <div class="feedback-slide__header">
                    <div class="feedback-slide__avatar">
                        <img src="img/avatar1.jpg" alt="">
                    </div>
                    <div>
                        <h5 class="feedback-slide__title">Марина, 24 года</h5>
                        <img class="feedback-slide__social" src="img/instagram.svg" alt="">
                    </div>
                </div>
                <p>
                    Котенка купила случайно, по дороге домой с работы. Такой жалкий и с большими глазами, не смогла
                    пройти мимо! Надо было срочно решать вопрос с туалетом. Купить наполнитель «Коту под хвост»
                    посоветовали в зоомагазине. Он хорошо впитывает жидкость и поглощает запахи. Комочки гранулы очень
                    просто удаляются. Самое главное, что наполнитель не вредит нежным лапкам маленького питомца. Котенок
                    в первый день понял, где ему нужно справлять свои хозяйственные
                    дела. А еще оказалось, что стоимость наполнителя вполне демократична.
                </p>
            </div>
            <div class="swiper-slide feedback-slide">
                <div class="feedback-slide__header">
                    <div class="feedback-slide__avatar">
                        <img src="img/avatar2.jpg" alt="">
                    </div>
                    <div>
                        <h5 class="feedback-slide__title">Ольга, 49 лет</h5>
                        <img class="feedback-slide__social" src="img/instagram.svg" alt="">
                    </div>
                </div>
                <p>
                    С детства люблю животных. Спасала кошек и собак, приносила их домой с улицы даже тогда, когда сама была школьницей. Использовала множество наполнителей для лотка, пока не остановилась на бентонитовом. Бентонит — природная глина. Мне нравится, что наполнитель не имеет собственного запаха и отлично поглощает запах питомца. Нашей красавице 7 лет.
                    Британская короткошерстная, привередливая ко всему окружающему.
                    А вот к лотку у нее претензий нет.
                </p>
            </div>
            <div class="swiper-slide feedback-slide">
                <div class="feedback-slide__header">
                    <div class="feedback-slide__avatar">
                        <img src="img/avatar3.jpg" alt="">
                    </div>
                    <div>
                        <h5 class="feedback-slide__title">Валерий, 64 года</h5>
                        <img class="feedback-slide__social" src="img/vk.svg" alt="">
                    </div>
                </div>
                <p>
                    У меня свой бизнес – несколько зоомагазинов в Ульяновске. В первую очередь рассматриваю на должность продавцов-консультантов людей с образованием ветеринара, считая это
                    конкурентным преимуществом. Мои продавцы прямо повеселели, когда стали торговать наполнителем «Коту под хвост». Во-первых, качество. Клиент возвращается за товаром вновь. Во-вторых, упаковка: красивая и удобная. В третьих, они, как никто, понимают, насколько самим
                    животным безопасно пользоваться наполнителем.
                </p>
            </div>
        </div>
    </div>
</section>