<footer class="footer">
    <div class="container">
        <div class="footer__inner">
            <div class="footer__col footer__col--mobile">
                <a href="./" class="footer-logo">
                    <img src="styles/img/logo.svg" alt="КОТУ ПОД ХВОСТ - Бентонитовый комкующийся наполнитель">
                </a>
                <div class="footer__social">
                    <div class="social">
                        <h4 class="social__title">Присоединяйтесь к нам в соц.сетях</h4>
                        <div class="social__items">
                            <a href="" class="social__link ibg">
                                <img src="styles/img/fb.svg" alt="Facebook">
                            </a>
                            <a href="" class="social__link ibg">
                                <img src="styles/img/vk.svg" alt="Vkontakte">
                            </a>
                            <a href="" class="social__link ibg">
                                <img src="styles/img/inst.svg" alt="Instagram">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer__col footer__col--mobile">
                <a href="tel:88004585855" class="contact-link">8 800 458 58 55</a>
                <p class="footer__address">443011, Самара, ул.Советской Армии,
                    д. 238А, к. 22</p>
            </div>
            <div class="footer__col footer__col--mobile-nav">
                <button class="footer__link" data-scroll=".about">Наполнитель</button>
                <button class="footer__link" data-scroll=".package">Упаковка</button>
                <button class="footer__link" data-scroll=".map">Купить</button>
            </div>
            <div class="footer__col footer__col--mobile-nav">
                <button class="footer__link" data-scroll=".cooperation">Сотрудничество</button>
                <button class="footer__link" data-scroll=".shelters">Приюты</button>
                <button class="footer__link" data-scroll=".feedback">Отзывы</button>
            </div>
        </div>
        <div class="footer__bottom">
            <div>© 2021 Коту под хвост</div>
            <a href="politics.html" class="copyright-link">Политика конфиденциальности</a>
            <div class="copyright">Сделано с любовью<br>
                в <a href="">PARUS AGENCY</a></div>
        </div>
    </div>
</footer>
