<section class="section form-section">
    <div class="container">
        <div class="form-box js-form-box">
            <div class="form__inner">
                <h3 class="form-box__title">Остались вопросы?</h3>
                <h3 class="form-box__title">Задавай, не стесняйся</h3>
                <p class="form-box__subtitle">Заполни короткую форму и мы перезвоним в течение 15 минут</p>
                <form class="form">
                    <div class="form__field field">
                        <label class="field__label">Имя</label>
                        <div class="field__holder">
                            <input class="field__input" type="text" placeholder="Укажите ваше имя">
                        </div>
                    </div>
                    <div class="form__field field field--required">
                        <label class="field__label">Телефон</label>
                        <div class="field__holder">
                            <input class="field__input js-phone-field" type="text" placeholder="+7 - _ _ _ - _ _ _ - _ _ - _ _ "
                                   required>
                        </div>
                    </div>
                    <div class="form__check">
                        <label for="checkbox" class="check">
                            <input type="checkbox" id="checkbox" class="check__input" required>
                            <span class="check__box"></span>
                            <span class="check__lbl">Согласие не обработку <a href="">персональных данных</a></span>
                        </label>
                    </div>
                    <button class="btn btn--full form__btn js-submit" type="submit">Задать вопрос</button>
                </form>
            </div>
            <div class="form-box__img">
                <img class="fade-in in-view-watcher delay-1" src="styles/img/form-cat.png" alt="">
                <div class="form-box__bubble-1 fade-in in-view-watcher delay-2">
                    ОТ МЕНЯ ТАК ПРОСТО НЕ СПРЯЧЕШЬСЯ!
                </div>
            </div>
        </div>
        <div class="form-box hidden js-form-message-box">
            <div class="form__inner">
                <h3 class="form-box__title">Спасибо!</h3>
                <h3 class="form-box__title">Ваша заявка принята.</h3>
                <p class="form-box__subtitle">Наш менеджер свяжется с Вами для подтверждения заказа</p>
            </div>
            <div class="form-box__img">
                <img class="fade-in in-view-watcher delay-1" src="styles/img/form-cat2.png" alt="">
                <div class="form-box__bubble-2 fade-in in-view-watcher delay-2">
                    ВОТ И УМНИЧКА!
                </div>
            </div>
        </div>
    </div>
</section>