<header class="header">
    <div class="header__inner container">
        <a href="/" class="logo">
            <img src="styles/img/logo.svg" alt="КОТУ ПОД ХВОСТ - Бентонитовый комкующийся наполнитель">
        </a>
        <div class="header__nav js-nav-body">
            <nav class="nav">
                <ul class="nav__list">
                    <li class="nav__item">
                        <button class="nav__link" data-scroll=".about">Наполнитель</button>
                    </li>
                    <li class="nav__item">
                        <button class="nav__link" data-scroll=".package">Упаковка</button>
                    </li>
                    <li class="nav__item">
                        <button class="nav__link" data-scroll=".map">Купить</button>
                    </li>
                    <li class="nav__item">
                        <button class="nav__link" data-scroll=".cooperation">Сотрудничество</button>
                    </li>
                    <li class="nav__item">
                        <button class="nav__link" data-scroll=".shelters">Приюты</button>
                    </li>
                    <li class="nav__item">
                        <button class="nav__link" data-scroll=".feedback">Отзывы</button>
                    </li>
                </ul>
            </nav>
            <div class="header__contacts">
                <a href="tel:88004585855" class="contact-link">8 800 458 58 55</a>
                <p class="header__mobile">443011, Самара, ул.Советской Армии,
                    д. 238А, к. 22</p>
            </div>
            <div class="header__contacts header__mobile">
                <div class="social">
                    <h4 class="social__title text-center">Присоединяйтесь к нам в соц.сетях</h4>
                    <div class="social__items">
                        <a href="" class="social__link ibg">
                            <img src="styles/img/fb.svg" alt="Facebook">
                        </a>
                        <a href="" class="social__link ibg">
                            <img src="styles/img/vk.svg" alt="Vkontakte">
                        </a>
                        <a href="" class="social__link ibg">
                            <img src="styles/img/inst.svg" alt="Instagram">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <button class="menu-btn ibg js-nav-btn">
            <img class="menu-btn__open" src="styles/img/menu-btn-open.svg" alt="menu open button">
            <img class="menu-btn__close" src="styles/img/menu-btn-close.svg" alt="menu close button">
        </button>
    </div>
</header>
