<section class="section about-package shelters">
    <div class="container">
        <div class="section__heading section__heading--full">
            <h3 class="section__title section__title--custom"><span>Хочешь помогать животным,</span>
                <span>но не знаешь как? Рассказываем</span></h3>
        </div>
        <div class="about-package__inner">
            <div class="about-package__info">
                <p><b>
                    Выбирая наполнитель «КОТУ ПОД ХВОСТ»,
                </b> <br>
                    ты вместе с нами участвуешь в благородном деле — помогаешь бездомным животным.</p>

                <p>Часть вырученных средств мы вкладываем
                    в поставку 15-килограммовых упаковок наполнителя <b>в приюты для бездомных животных.</b></p>
                <h3>Маленькая помощь лучше большого сочувствия!</h3>
            </div>
            <div class="about-package__img about-package__img--hide-on-mobile">
                <img class="fade-in-right in-view-watcher delay-1" src="styles/img/cat4.png" alt="">
                <div class="about-package__bubble-2 fade-in in-view-watcher delay-2">хозяин! <br>
                    я знаю, где нам взять еще одного кота!
                </div>
                <div class="about-package__bubble-3 fade-in in-view-watcher delay-3">мне нужен соратник! срочно! </div>
            </div>
        </div>
    </div>
    <div class="about-package__slider swiper js-slider">
        <div class="swiper-wrapper">
            <div class="swiper-slide logo-slide">
                <img src="img/image.png" alt="">
            </div>
            <div class="swiper-slide logo-slide">
                <img src="img/Logo-Priut63-4.png" alt="">
            </div>
            <div class="swiper-slide logo-slide">
                <img src="img/mainlogo.png" alt="">
            </div>
            <div class="swiper-slide logo-slide">
                <img src="img/image.png" alt="">
            </div>
            <div class="swiper-slide logo-slide">
                <img src="img/Logo-Priut63-4.png" alt="">
            </div>
            <div class="swiper-slide logo-slide">
                <img src="img/mainlogo.png" alt="">
            </div>
            <div class="swiper-slide logo-slide">
                <img src="img/image.png" alt="">
            </div>
            <div class="swiper-slide logo-slide">
                <img src="img/Logo-Priut63-4.png" alt="">
            </div>
            <div class="swiper-slide logo-slide">
                <img src="img/mainlogo.png" alt="">
            </div>
            <div class="swiper-slide logo-slide">
                <img src="img/image.png" alt="">
            </div>
            <div class="swiper-slide logo-slide">
                <img src="img/Logo-Priut63-4.png" alt="">
            </div>
            <div class="swiper-slide logo-slide">
                <img src="img/mainlogo.png" alt="">
            </div>
        </div>
    </div>
    <div class="about-package__img about-package__img--hide-on-desktop">
        <img class="fade-in-right in-view-watcher delay-1" src="styles/img/cat4.png" alt="">
        <div class="about-package__bubble-2 fade-in in-view-watcher delay-2">хозяин! <br>
            я знаю, где нам взять еще одного кота!
        </div>
        <div class="about-package__bubble-3 fade-in in-view-watcher delay-3">мне нужен соратник! срочно! </div>
    </div>
</section>