<section class="section about-package">
    <div class="container">
        <div class="section__heading section__heading--full">
            <h2 class="section__title">Хочешь помогать животным,
                но не знаешь как? Рассказываем</h2>
        </div>
        <div class="about-package__inner">
            <div class="about-package__info">
                <p><b>
                    Выбирая наполнитель «КОТУ ПОД ХВОСТ»,
                </b>
                    ты вместе с нами участвуешь в благородном деле — помогаешь бездомным животным.</p>

                <p>Часть вырученных средств мы вкладываем
                    в поставку 15-килограммовых упаковок наполнителя <b>в приюты для бездомных животных.</b></p>
                <h3>Маленькая помощь лучше большого сочувствия!</h3>
            </div>
            <div class="about-package__img">
                <img src="styles/img/cat4.png" alt="">
                <div class="about-package__bubble-1 bubble">хозяин!
                    я знаю, где нам взять еще одного кота!
                </div>
                <div class="about-package__bubble-2 bubble">мне нужен соратник! срочно! </div>
            </div>
        </div>
    </div>
    <div class="swiper">
        <div class="swiper-wrapper">
            <div class="swiper-slide logo-slide">
                <img src="img/image.png" alt="">
            </div>
            <div class="swiper-slide logo-slide">
                <img src="img/Logo-Priut63-4.png" alt="">
            </div>
            <div class="swiper-slide logo-slide">
                <img src="img/mainlogo.png" alt="">
            </div>
        </div>
    </div>
</section>