<section class="section map">
    <div class="container">
        <div class="section__heading">
            <h2 class="section__title">Где купить?</h2>
        </div>
        <div class="map__box">
            <div class="map__holder" id="map"></div>
            <div class="map__balloon">
                <div>443011, г.Самара, ул.Советской Армии, д. 238А, к. 22</div>
                <div class="map__links">
                    <a href="tel:88004585855">8 800 458 58 55</a>
                    <div class="map__divider"></div>
                    <a href="mailto:kotupodkhvost@mail.ru">kotupodkhvost@mail.ru</a>
                </div>
            </div>
        </div>
    </div>
</section>