<section class="section package">
    <div class="container">
        <div class="section__heading section__heading--full">
            <h2 class="section__title section__title--custom"><span>Стильная упаковка</span>
                <span>для  современного интерьера</span></h2>
            <p class="section__subtitle">Стильный дизайн пакета для наполнителя «КОТУ ПОД ХВОСТ» наши покупатели
                называют «современным искусством». Упаковка, как модный аксессуар, вписывается в современный
                интерьер ванной комнаты.</p>
        </div>
        <div class="difference-slider">
            <div class="js-img-compare">
                <div style="display: none;">
                    <img src="img/without-package.jpg" alt="Before">
                </div>
                <div>
                    <img src="img/with-package.jpg" alt="After">
                </div>
            </div>
            <div class="difference-slider__info">
                Крафтово-черный цвет без слов рассказывает о безупречном вкусе хозяина.
            </div>
        </div>
    </div>
</section>