<section class="section package">
    <div class="container">
        <div class="section__heading">
            <h2 class="section__title">Стильная упаковка
                для современного интерьера</h2>
            <p class="section__subtitle">Стильный дизайн пакета для наполнителя «КОТУ ПОД ХВОСТ» наши покупатели называют «современным искусством». Упаковка, как модный аксессуар, вписывается в современный
                интерьер ванной комнаты.</p>
        </div>
        <div class="difference-slider">

        </div>
    </div>
</section>